---
import EventLayout from "../../../layouts/eventLayout.astro";
import EventCard from "../../../components/eventCard.astro";
import Pagination from "../../../components/pagination.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths({ paginate }) {
  const allEvents = await getCollection("events");

  let filterEvents = allEvents
    .filter((event) => event.data.endDate >= new Date() && event.data.virtual)
    .sort((a, b) => a.data.startDate.valueOf() - b.data.startDate.valueOf());

  return paginate(filterEvents, {
    pageSize: 12,
  });
}
const { page } = Astro.props;
---

<EventLayout title={`Proximos Eventos Tech Virtuales | Página ${page.currentPage} | CuCoders`}>
  {
    page.data.length == 0 && (
      <>
        <img src="/assets/img/emptyList.webp" class="md:w-2/3 w-full mx-auto my-4" />
        <p class="mt-2 text-center text-gray-700"> No hay eventos virtuales disponibles </p>
      </>
    )
  }
  <div class="grid gap-6 w-full grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mb-7">
    {page.data.map((event) => <EventCard event={event} />)}
  </div>
  <Pagination prev={page.url.prev} next={page.url.next} />
</EventLayout>
