---
import categories from "../../data/profileCategories.json";
import LinkIcon from "../helpers/linkIcon.astro";
const { profile } = Astro.props;
---

<div class="w-full py-5 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
  <a href={"/dev/" + profile["username"]} class="flex flex-col items-center mb-3">
    <div class="relative">
      <img
        class="w-24 h-24 my-3 rounded-full"
        src={profile["avatar_url_medium"]}
        alt={profile["name"] + " profile picture"}
      />
      {
        profile["hireable"] && (
          <div class="bottom-3 left-[4.5rem] absolute grid place-content-center w-7 h-7 bg-green-500 border-4 border-white dark:border-gray-800 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="0.8em" height="0.8em" viewBox="0 0 24 24">
              <path
                fill="white"
                d="M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z"
              />
            </svg>
          </div>
        )
      }
    </div>

    <h5 class="mb-1 text-xl font-medium text-center text-gray-900 dark:text-white">
      {profile["name"] ? profile["name"] : "@" + profile["username"]}
    </h5>

    {
      profile["headline"] && (
        <span class="text-sm text-gray-500 text-center line-clamp-1 border rounded-full mx-5 dark:text-gray-400 px-3 py-0.5 ">
          {profile["headline"]}
        </span>
      )
    }

    <div class="flex mt-2 line-clamp-2 text-center overflow-hidden text-sm font-normal text-gray-600 space-x-3 px-5">
      {profile["bio"]}
    </div>
    <div class="px-5 flex justify-center w-full">
      {
        profile["categories"].map((role) => (
          <LinkIcon
            url={"/directorio/" + categories[role].slug + "/1"}
            img={categories[role].ico}
            text={categories[role].text}
            target="_self"
            id={categories[role].slug}
            size="w-6 h-6"
            padding="p-2 mx-1"
          />
        ))
      }
    </div>
  </a>
</div>
