---
import categories from "../../data/profileCategories.json";
import LinkIcon from "../helpers/linkIcon.astro";
const { profile } = Astro.props;
---

<div class="w-full py-5 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
  <a href={"/dev/" + profile["username"]} class="flex flex-col items-center mb-3">
    <img
      class="w-24 h-24 my-3 rounded-full shadow-lg"
      src={profile["avatar_url"]}
      alt={profile["name"] + " profile picture"}
    />
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
      {profile["name"] ? profile["name"] : "@" + profile["username"]}
    </h5>
    <span class="text-sm text-gray-500 dark:text-gray-400 border px-3 py-0.5 rounded-full">
      {profile["headline"]}
    </span>
    <div class="flex mt-2 line-clamp-2 text-center overflow-hidden text-sm font-normal text-gray-600 space-x-3 px-5">
      {profile["bio"]}
    </div>
    <div class="px-5 flex justify-center w-full">
      {
        profile["roles"].map((role) => (
          <LinkIcon
            url={"/directorio/" + categories[role].slug + "/1"}
            img={categories[role].ico}
            text={categories[role].text}
            target="_self"
            id={categories[role].slug}
            size="w-6 h-6"
            padding="p-2 mx-1"
          />
        ))
      }
    </div>
  </a>
</div>
