<div
  id="newPostModal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full"
>
  <div class="relative w-full h-full max-w-2xl md:h-auto">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Crear Nueva Publicación</h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="newPostModal"
        >
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          <spam class="font-semibold">CuCoders</spam> es una comunidad para desarrolladores de software que utiliza GitHub para
          mantener la información abierta y accesible addicionando la información mediante Pull Requests, familiarizar a los usuarios
          con Github, disminuir gastos y garantizar la persistencia del proyecto.
        </p>
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          Este formulario genera el encabezado de la publicación y lanza una venta donde se procede a editar el cuerpo de la
          publicación con formato markdown en GitHub. Asegúrese de introducir correctamente los parámetros del formulario y
          de cumplir con los <a href="/terminos" target="_blank" class="inline underline">términos de uso</a> de la comunidad
          para que su artículo sea publicado.
        </p>
        <hr class="my-4" />
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          <spam class="font-semibold">Tips*</spam> Si le resulta más cómodo puede crear el cuerpo de su publicación en otro editor
          de texto markdown como <a href="https://stackedit.io/app" target="_blank" class="inline underline">Stackedit</a> y luego
          pegarlo en GitHub
        </p>

        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400 mb-5">
          Para agregar imágenes al documento, puede utilizar fuentes externas, cargarlas desde su dispositivo mediante
          arrastrar y soltar, o copiando y pegando en el editor de GitHub.
        </p>
      </div>
    </div>
  </div>
</div>
