---
import MemberItem from "./memberItem.astro";
---

<div class="font-medium text-gray-800 mb-4">Miembors Destacados</div>

<MemberItem name="Manuel Ernesto" title="Ingeniero de Software" img="https://avatars.githubusercontent.com/u/53962116?v=4" />
<MemberItem name="Reinier Ragnarok" title="Software developer" img="https://avatars.githubusercontent.com/u/8838803?s=100&v=4" />
<MemberItem name="Alex Cuan" title="Software Dev" img="https://avatars.githubusercontent.com/u/77734898?s=100&v=4" />

