---
import ProfileLayout from "../../../layouts/profileLayout.astro";
import { members_api_url } from "../../../data/conf.json";
import HorizontalPostItem from "../../../components/helpers/horizontalPostItem.astro";
import { getCollection } from "astro:content";

const response = await fetch(members_api_url + "members-data");
const members_data = await response.json();

export async function getStaticPaths() {
  const response = await fetch(members_api_url + "members-list");
  const members_list = await response.json();
  var pathsList = [];

  for (const key of members_list) {
    const obj = { params: { username: key } };
    pathsList.push(obj);
  }
  return pathsList;
}

const params = Astro.params;

const userPosts = await getCollection("blog", ({ id }) => {
  return id.startsWith(params.username + "/");
});

---

<ProfileLayout profile={members_data[params.username]} activeTab="blog"  pageTitle="Blog" noIndex={true}>
  <div class="px-10 my-5">
    {userPosts.map((post) => <HorizontalPostItem post={post} />)}
  </div>
</ProfileLayout>
