---
const { ico, text, url } = Astro.props;

let itemUrl = null;
if (url) itemUrl = `/empleos/${url}`;
---

<a href={itemUrl} class="flex items-center mr-2 hover:bg-gray-100 px-2 py-1 rounded">
  <img src={`/assets/img/icons/${ico}.svg`} class="w-4 h-4 inline" />
  <spam class="ml-1 text-sm">{text}</spam>
</a>
