---
const { ico, text, url } = Astro.props;

let itemUrl = null;
if (url) itemUrl = `/empleos/${url}`;
---

<a href={itemUrl} class="flex items-center mr-1 hover:bg-gray-100 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 px-2 py-1 rounded">
  <img src={`/assets/img/icons/${ico}.svg`} class="w-4 h-4 inline dark:invert dark:contrast-200 dark:saturate-0" />
  <spam class="ml-1 text-xs md:text-sm">{text}</spam>
</a>
