---
import BaseLayout from "../layouts/BaseLayout.astro";
import SideBar from "../components/SideBar.astro";
import BlogCard from "../components/BlogCard.astro";
import RightSideBar from "../components/RightSideBar.astro";
---

<BaseLayout title="Welcome to CuCoders." description="CuCoders description">
  <div class="grid w-full mt-8 gap-8 grid-cols-[16rem_1fr_17rem]">
    <SideBar />
    <div>
      <BlogCard
        image="https://user-images.githubusercontent.com/53962116/211159681-f1700806-8fa9-41d0-90c2-eb4ebdd6fec4.png"
      />
      <BlogCard
        image="https://user-images.githubusercontent.com/53962116/208708365-7fa46022-c9d9-4820-8a57-3f5756c04850.png"
      />
    </div>
    <RightSideBar />
  </div>
</BaseLayout>
