---
import BaseLayout from "../layouts/BaseLayout.astro";
import SideBar from "../components/SideBar.astro";
import BlogCard from "../components/BlogCard.astro";
import RightSideBar from "../components/RightSideBar.astro";
---

<BaseLayout title="Welcome to CuCoders." description="CuCoders description">
  <div class="grid w-full mt-8 gap-8 grid-cols-[16rem_1fr_17rem]">
    <SideBar />
    
    <div>
      <BlogCard></BlogCard>
      <BlogCard></BlogCard>
    </div>
    <RightSideBar />
  </div>
</BaseLayout>
