---
import BaseLayout from "../layouts/BaseLayout.astro";
import SideBar from "../components/SideBar.astro";
import BlogCard from "../components/BlogCard.astro";
import RightSideBar from "../components/RightSideBar.astro";
---

<BaseLayout title="Welcome to CuCoders." description="CuCoders description">
  <div class="grid w-full mt-8 gap-8 grid-cols-[16rem_1fr_17rem]">
    <SideBar />
    <div>
      <BlogCard
        image="https://user-images.githubusercontent.com/53962116/211159681-f1700806-8fa9-41d0-90c2-eb4ebdd6fec4.png"
      />
      <BlogCard />

      <BlogCard
        image="https://user-images.githubusercontent.com/53962116/204863123-e37bb190-234d-4824-aed0-0b10cd7da102.png"
      />
      <BlogCard image="https://pbs.twimg.com/media/Fc49GEdXkAM9-yE?format=jpg&name=large" />
      <BlogCard
        image="https://user-images.githubusercontent.com/53962116/208708365-7fa46022-c9d9-4820-8a57-3f5756c04850.png"
      />
      <BlogCard image="https://images.ecency.com/DQmXtpVp9WyribREUviCm7VBs1AYzFvQ32jYZyzVCrbJGCp/asd.jpg" />
      <BlogCard image="https://pbs.twimg.com/media/FcoiVjWXkAAOLED?format=jpg&name=small" />

      <div class="flex justify-center">
        <a
          href="#"
          class="inline-flex items-center px-5 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          Siguiente
        </a>

        <a
          href="#"
          class="inline-flex items-center px-5 py-2 ml-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          Anterior
        </a>
      </div>
    </div>
    <RightSideBar />
  </div>
</BaseLayout>
