---
import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout
  title="Podcast | Cucoder Dev Talks"
  description="Nuetro podcast sobre emprendimiento, desarollo y tecnología. Disponibleen spotify, Easypodcast o tu potcatcher favorito."
>
  <div
    class="bg-white border md:mx-auto mb-5 -mt-6 md:mt-12 lg:max-w-[58rem] border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 w-full"
  >
    <div id="podcast-container" class="p-8 md:px-15 lg:px-20">
      <iframe
        id="podcast-embebed"
        style="border-radius:12px"
        src="https://open.spotify.com/embed/show/5WLTPsVF6zAvEnirWfP69a?utm_source=generator&theme=0"
        width="100%"
        height="352"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>

      <!-- <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/show/5WLTPsVF6zAvEnirWfP69a?utm_source=generator&theme=0"
        width="100%"
        height="352"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe> -->
    </div>
  </div>
</BaseLayout>

<script is:inline>
  window.onload = function () {
    let myiFrame = document.getElementById("podcast-embebed");
    let doc = myiFrame.contentDocument;
    doc.body.innerHTML = doc.body.innerHTML + "<style>.LKKneJCVRLbYQrEtNZ8g {background-color: red !important;}</style>";
  };
</script>
