---
import DirectoryLayout from "../../layouts/directoryLayout.astro";
import { members_api_url } from "../../data/conf.json";
import ProfileCard from "../../components/profile/profileCard.astro";

const response = await fetch(members_api_url + "members-data");
const members_data = await response.json();
const members_array = Object.values(members_data);
---

<DirectoryLayout>
  <div class="grid grid-cols-3 gap-6">
    {members_array.map((profile) => <ProfileCard profile={profile} />)}
  </div>
</DirectoryLayout>
