---
const { img, description, name, url } = Astro.props;
---

<a href={url} class="flex space-x-4 my-4">
  <img class="w-10 h-10 rounded-md bg-white" src={img} alt={name + " logo"} />
  <div class="font-medium dark:text-white">
    <div class="text-gray-700 font-medium">{name}</div>
    <div class="text-sm font-normal text-gray-500 line-clamp-2">{description}</div>
  </div>
</a>
