---
import AppItem from "./appItem.astro";

const { title } = Astro.props;
---

<div class="font-medium text-gray-800 mb-4">{title}</div>

<AppItem
  name="WeekToDo"
  category="Productivity"
  img="https://d4.alternativeto.net/KOIzY85M7EHbxJUNyX4asbJkCYqxEfK7h5bCjLK4faQ/rs:fill:40:40:0/g:ce:0:0/YWJzOi8vZGlzdC9pY29ucy93ZWVrdG9kb18xODYxNDUucG5n.png"
/>
<AppItem
  name="QvaPay"
  category="Pagos"
  img="https://upload.wikimedia.org/wikipedia/commons/d/d8/Logotipo_de_la_plataforma_de_pago_QvaPay.png"
/>
<AppItem name="Apklis" category="Útiles" img="https://cubapk.com/media/repo/icons-640/cu.uci.android.apklis.1295.png" />
