<li>
  <a
    href="#"
    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
  >
    <img src="assets/img/icons/desktop.svg" class="w-6 h-6 text-gray-500" />

    <span class="ml-3">Todos</span>
  </a>
</li>
