---
import PromoCard from "./promoCard.astro";
import PromoImage from "./promoImage.astro";
---

<div>
  <PromoCard
    img="https://astro-modern-personal-website.netlify.app/social_img.png"
    title="Crea tu Web Personal gratis"
    desc="Crea gratis tu web personal con blog, servicios, currículo, temas y más con esta plantilla de Astro."
    url="https://astro-modern-personal-website.netlify.app/"
  />

  <PromoCard
    img="https://user-images.githubusercontent.com/53962116/218485341-218537dc-40ef-49f0-b275-004aa4564701.png"
    title="Organiza tu semana con WeekToDo"
    desc="WeekToDo es un planificador semanal gratuito y de código abierto. Mejora tu productividad organizando tus tareas de forma fácil e intuitiva"
    url="https://weektodo.me/es/"
  />

  <PromoImage
    text="Crea imágenes asombrosas de tus capturas de pantalla o tu código"
    img="https://raw.githubusercontent.com/yossTheDev/karbonized/master/img/newscreen.png"
    url="https://karbonized.onrender.com/"
  />
</div>
