---
import PromoCard from "./promoCard.astro";
import PromoImage from "./promoImage.astro";
---

<div>
  <PromoCard
    img="https://astro-modern-personal-website.netlify.app/social_img.png"
    title="Crea tu Web Personal en minutos"
    desc="Crea gratis tu web personal con blog, servicios, currículo, temas y más con esta plantilla de Astro."
    url="https://astro-modern-personal-website.netlify.app/"
  />

  <PromoCard
    img="https://crecexdiez.com/assets/img/bydefault.jpg"
    title="Lleva tu negocio al siguignete nivel con Crecexdiez"
    desc="Esto es banner de prueba. Mas nada que eso asi que no te emociones lol."
  />

  <PromoImage text="Demo text in the img" img="https://pbs.twimg.com/media/FmIxRvIXEAcg7br?format=jpg&name=small" url="#" />
</div>
