---
import PromoCard from "./promoCard.astro";
import PromoImage from "./promoImage.astro";
---

<div>
  <PromoCard
    img="/assets/img/promo/promo_website.webp"
    title="Crea tu Web Personal gratis"
    desc="Crea gratis tu web personal con blog, servicios, currículo, temas y más con esta plantilla de Astro."
    url="https://astro-modern-personal-website.netlify.app/"
  />

  <PromoCard
    img="/assets/img/promo/weektodo_promo.webp"
    title="Organiza tu semana con WeekToDo"
    desc="WeekToDo es un planificador semanal gratuito y de código abierto. Mejora tu productividad organizando tus tareas de forma fácil e intuitiva"
    url="https://weektodo.me/es/"
  />

  <PromoImage
    text="Crea imágenes asombrosas de tus capturas de pantalla o tu código"
    img="/assets/img/promo/karbonized_promo.webp"
    url="https://karbonized.onrender.com/"
  />
</div>
