---
const { name, description, date, url } = Astro.props;
---

<li class="mb-3 ml-4">
  <a href={url}>
    <div
      class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-gray-500 dark:text-gray-500">{date}</time>
    <p class="text-base font-medium text-gray-700 dark:text-gray-500 line-clamp-2">{name}</p>
    <p class="text-sm font-normal text-gray-600 dark:text-gray-500 line-clamp-2">
      {description}
    </p>
  </a>
</li>
