---
import PromoSection from "./sidebarComponents/promoSection.astro";
import Item from "./sidebarComponents/sidebarItem.astro";
import categories from "../data/profileCategories.json";

const { isSideMenu = false, openToWork = false } = Astro.props;

const ulrPrefix = openToWork ? "/directorio/open-to-work/" : "/directorio/";

let sidebarClass = "px-3 mb-5 py-4 overflow-y-auto rounded-md bg-white border-solid border-[1px] border-gray-200";

if (isSideMenu) {
  sidebarClass = "mb-5 overflow-y-auto";
}

let categoriesList = [];
for (const key in categories) {
  categories[key].url = ulrPrefix + categories[key].slug;
  categoriesList.push(categories[key]);
}
---

<aside class="w-64" aria-label="Sidebar">
  <div class={sidebarClass}>
    <ul class="space-y-2">
      {
        openToWork ? (
          <Item text="Open To Work" ico="/assets/img/icons/check-box-outline.svg" url="/directorio" />
        ) : (
          <Item
            text="Open To Work"
            ico="/assets/img/icons/check-box-outline-blank.svg"
            url="/directorio/open-to-work/todos"
          />
        )
      }
      <hr class="my-3" />
      {
        openToWork ? (
          <Item text="Mostrar Todos" ico="/assets/img/icons/all.svg" url="/directorio/open-to-work/todos" />
        ) : (
          <Item text="Mostrar Todos" ico="/assets/img/icons/all.svg" url="/directorio" />
        )
      }

      {categoriesList.map((category) => <Item text={category.text} ico={category.ico} url={category.url} />)}
    </ul>
  </div>

  <div class="border-t my-5 h-1 border-gray-200"></div>

  <PromoSection />
</aside>
