---
import SidebarItem from "./sidebarComponents/sidebarItem.astro";
import SidebarMultiLevelItem from "./sidebarComponents/sidebarMultiLevelItem.astro";
import ThemeToggle from "./ui/themeToggle.astro";
---

<div
  id="drawer-navigation"
  class="fixed z-40 h-screen p-4 overflow-y-auto bg-white w-80 dark:bg-gray-800 transition-transform left-0 top-0 -translate-x-full"
  tabindex="-1"
  aria-labelledby="drawer-navigation-label"
>
  <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Menu</h5>
  <ThemeToggle id="mainDrawerToggle" layout="mobile"/>
  <button
    type="button"
    data-drawer-hide="drawer-navigation"
    aria-controls="drawer-navigation"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-3.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
  >
    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
      ><path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"></path></svg
    >
    <span class="sr-only">Close menu</span>
  </button>
  <div class="py-4 overflow-y-auto">
    <ul class="space-y-2">
      <SidebarItem ico="/assets/img/icons/profile.svg" text="Editar Perfil" url="/perfil" />
      <SidebarItem ico="/assets/img/icons/login.svg" text="Regístrate" url="/registro" />
    </ul>
    <ul class="space-y-2 pt-4 mt-4 border-t border-gray-200 dark:border-gray-700">
      <SidebarItem text="Inicio" url="/" />
      <SidebarItem text="Coders" url="/directorio" />
      <SidebarItem text="Empleos" url="/empleos" />
      <SidebarItem text="Apps" url="/apps" />
      <SidebarItem text="Eventos" url="/eventos" />
      <SidebarMultiLevelItem text="Formación" id="formation-nav">
        <SidebarItem text="Rutas" url="/formacion/rutas" />
        <SidebarItem text="Recursos" url="/recursos/formacion-integral" />
      </SidebarMultiLevelItem>
      <SidebarItem text="Recursos" url="/recursos" />
    </ul>
    <ul class="pt-4 mt-4 space-y-2 border-t border-gray-200 dark:border-gray-700">
      <SidebarItem ico="/assets/img/icons/people2.svg" text="Comunidad en Telegram" url="https://t.me/CuCodersComunidad" />
      <SidebarItem ico="/assets/img/icons/github.svg" text="Ver en Github" url="https://github.com/cucoderscommunity" />
    </ul>
    <ul class="pt-4 mt-4 space-y-2 border-t border-gray-200 dark:border-gray-700">
      <SidebarItem text="Acerca de CuCoders" url="/acerca-de" />
    </ul>
    <div id="install-app-cta" class="p-4 hidden mt-6 rounded-lg bg-blue-50 dark:bg-blue-900" role="alert">
      <div class="flex items-center mb-3">
         <span class="bg-blue-100 text-gray-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-orange-200 dark:text-orange-900">Instalar App</span>
         <button type="button" id="close-install-app-cta" class="ml-auto -mx-1.5 -my-1.5 bg-blue-50 text-blue-900 rounded-lg focus:ring-2 focus:ring-blue-400 p-1 hover:bg-blue-200 inline-flex h-6 w-6 dark:bg-blue-900 dark:text-blue-400 dark:hover:bg-blue-800" data-dismiss-target="#install-app-cta" aria-label="Close">
               <span class="sr-only">Close</span>
               <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
         </button>
      </div>
      <p class="mb-3 text-sm text-blue-800 dark:text-blue-400">
         Puedes instalar CuCoders como una aplicación en tu dispositivo móvil para una mejor experiencia.
      </p>
      <a class="text-sm text-blue-800 underline font-medium hover:text-blue-900 dark:text-blue-400 dark:hover:text-blue-300" href="/otros/instalar-app">Descubre como hacerlo</a>
   </div>
  </div>
</div>

<script is:inline>
  if (localStorage.getItem("hideInstallAppCta") === null) {
    document.getElementById("install-app-cta").classList.remove("hidden");
  }

  document.getElementById("close-install-app-cta").addEventListener("click", () => {
    localStorage.hideInstallAppCta = true;
  });

  // theme toggle script
  let themeToggleBtn = document.getElementById('mainDrawerToggle');
    
    themeToggleBtn.addEventListener('click', function() {

    // if set via local storage previously
    if (localStorage.getItem('color-theme')) {
        if (localStorage.getItem('color-theme') === 'light') {
            document.documentElement.classList.add('dark');
            localStorage.setItem('color-theme', 'dark');
        } else {
            document.documentElement.classList.remove('dark');
            localStorage.setItem('color-theme', 'light');
        }
        
        // if NOT set via local storage previously
    } else {
        if (document.documentElement.classList.contains('dark')) {
            document.documentElement.classList.remove('dark');
            localStorage.setItem('color-theme', 'light');
        } else {
            document.documentElement.classList.add('dark');
            localStorage.setItem('color-theme', 'dark');
        }
    }
        
    });
</script>
