---
import EventsTimeLine from "./RightSideBar/eventsTimeLine.astro";
import MembersList from "./RightSideBar/membersList.astro";
import LastApps from "./RightSideBar/lastApps.astro";
---

<div class="">
  <div class="border-solid border-b-[1px] mb-3 pb-3">
    <EventsTimeLine />
  </div>
  <div class="border-solid border-b-[1px] mb-3 pb-3">
    <MembersList title="Miembros Destacados" />
  </div>
  <div class="border-solid mb-3 pb-3">
    <LastApps />
  </div>

  <a href="#" class="p-8 block text-left bg-local bg-gray-500 bg-center bg-no-repeat bg-cover rounded-lg bg-blend-multiply hover:bg-blend-soft-light dark:hover:bg-blend-darken" style="background-image: url(https://user-images.githubusercontent.com/53962116/208708365-7fa46022-c9d9-4820-8a57-3f5756c04850.png)">
    <p class="max-w-xl mb-5 font-extrabold leading-tight tracking-tight text-white">Preview the new Flowbite dashboard navigation.</p>
    <button type="button" class=" items-center px-2.5 py-1.5 text-xs font-medium text-center text-white border border-white rounded-lg hover:bg-white hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-700">
        Get started
        <svg class="w-4 h-4 ml-1 -mr-1 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
</a>
</div>
