<div class="">
    <div class="border-solid border-b-[1px] my-3 py-3">
        <div class="font-medium dark:text-white">
            <div class="text-gray-700">Próximos Eventos</div>
            <div class="text-sm text-gray-500 dark:text-gray-400">Ingeniero de Software</div>
        </div>
    </div>
    <div class="border-solid border-b-[1px] my-3 py-3">
        <div class="font-medium dark:text-white">
            <div class="text-gray-700">Próximos Eventos</div>
            <div class="text-sm text-gray-500 dark:text-gray-400">Ingeniero de Software</div>
        </div>
    </div>
    <div class="border-solid my-3 py-3">
        <div class="font-medium dark:text-white">
            <div class="text-gray-700">Próximos Eventos</div>
            <div class="text-sm text-gray-500 dark:text-gray-400">Ingeniero de Software</div>
        </div>
    </div>
</div>

