---
import EventsTimeLine from "./sidebarComponents/eventsTimeLine.astro";
import MembersList from "./sidebarComponents/membersList.astro";
import AppsList from "./sidebarComponents/appsList.astro";
import PromoImage from "./sidebarComponents/promoImage.astro";
---

<div>
  <div class="border-solid border-b-[1px] mb-3 pb-3">
    <EventsTimeLine />
  </div>
  <div class="border-solid border-b-[1px] mb-3 pb-3">
    <MembersList title="Miembros Destacados" />
  </div>
  <div class="border-solid border-b-[1px] mb-3 pb-3">
    <AppsList title="Últimos Lanzamientos" />
  </div>
  <div class="border-solid mb-3 pb-3">
    <AppsList title="Aplicaciones Destacadas" />
  </div>

  <PromoImage
    text="Demo text in the img"
    img="https://i.ytimg.com/vi/hMf4lfWicAc/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBG3y6ULS8p9NhkfeLWhddJxQBa3A"
    url="#"
  />

  <PromoImage
    text="Demo text in the img"
    img="https://i.ytimg.com/vi/BRiNw490Eq0/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBGEtyNKMmOa2YYvI5Si8L18GZN-Q"
    url="#"
  />

  <PromoImage
    text="Demo text in the img"
    img="https://i.ytimg.com/vi/V7xn1_0xME8/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBk5plZWugipwTE03yJkpqkk3CJVQ"
    url="#"
  />
</div>
