<button
  id="dropdownUserAvatarButton"
  data-dropdown-toggle="dropdownAvatar"
  class="flex mx-3 text-sm rounded-full self-center md:mr-0 hover:ring-4 hover:ring-gray-200 dark:hover:ring-gray-700 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700"
  type="button"
>
  <span class="sr-only">Open user menu</span>
  <img
    id="noUserAvatar"
    src="/assets/img/icons/account-circle-baseline.svg"
    class="w-8 h-8 opacity-70 dark:invert dark:contrast-200 dark:saturate-0"
  />
  <img id="userAvatar" class="w-9 h-9 rounded-full hidden" src="" alt="user photo" />
</button>

<!-- Dropdown menu -->
<ul
  id="dropdownAvatar"
  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
>
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
    <li>
      <a
        href="/registro"
        class="inline-flex w-full items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
      >
        <img src="/assets/img/icons/login.svg" class="w-5 h-5 mr-2 dark:invert dark:contrast-200 dark:saturate-0" />
        Regístrate
      </a>
    </li>
    <li>
      <a
        href="/iniciar-sesion"
        class="inline-flex w-full items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
      >
        <img src="/assets/img/icons/account.svg" class="w-5 h-5 mr-2 dark:invert dark:contrast-200 dark:saturate-0" />
        Iniciar Sesión
      </a>
    </li>
  </ul>

  <!-- <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
    <div>Manuel Ernesto</div>
    <div class="font-medium truncate">@manuelernestog</div>
  </div>

  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
    <li>
      <a
        href="#"
        class="inline-flex w-full items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
      >
        <img src="/assets/img/icons/profile.svg" class="w-5 h-5 mr-2 dark:invert dark:contrast-200 dark:saturate-0" />
        Ver Perfil
      </a>
    </li>
    <li>
      <a
        href="/perfil"
        class="inline-flex w-full items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
      >
        <img src="/assets/img/icons/account-edit.svg" class="w-5 h-5 mr-2 dark:invert dark:contrast-200 dark:saturate-0" />
        Editar Perfil
      </a>
    </li>
  </ul>
   -->
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">
    <li>
      <a
        href="#"
        id="navBarToggle"
        class="inline-flex w-full items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
      >
        <img src="/assets/img/icons/dark-light.svg" class="w-5 h-5 mr-2 dark:invert dark:contrast-200 dark:saturate-0" />
        Cambiar Tema
      </a>
    </li>
  </ul>
  <!-- <div class="py-2 text-gray-700 dark:text-gray-200">
    <a
      href="#"
      class="inline-flex w-full items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
    >
      <img src="/assets/img/icons/log-out.svg" class="w-5 h-5 mr-2 dark:invert dark:contrast-200 dark:saturate-0" />
      Salir
    </a>
  </div> -->
</ul>

<script>
  import { toggleTheme } from "../components/helpers/darkTheme";
  let themeToggleBtn = document.getElementById("navBarToggle");
  themeToggleBtn && themeToggleBtn.addEventListener("click", toggleTheme);
</script>

<script>
  import { isUserLogged } from "./helpers/user";

  const noUserAvatar = document.getElementById("noUserAvatar");
  const userAvatar = document.getElementById("userAvatar");

  if (isUserLogged() && userAvatar) {
    userAvatar.src = localStorage.getItem("user_avatar_url");
    userAvatar.classList.remove("hidden");
    noUserAvatar && noUserAvatar.classList.add("hidden");
  }
</script>
