<button
  id="dropdownUserAvatarButton"
  data-dropdown-toggle="dropdownAvatar"
  class="flex mx-3 text-sm rounded-full self-center md:mr-0 hover:ring-4 hover:ring-gray-200 dark:hover:ring-gray-700 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700"
  type="button"
>
  <span class="sr-only">Open user menu</span>
  <img class="w-9 h-9 rounded-full" src="https://avatars.githubusercontent.com/u/53962116?v=4" alt="user photo" />
</button>

<!-- Dropdown menu -->
<ul
  id="dropdownAvatar"
  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
>
  <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
    <div>Manuel Ernesto</div>
    <div class="font-medium truncate">@manuelernestog</div>
  </div>
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">
    <li>
      <a
        href="#"
        id="navBarToggle"
        class="inline-flex w-full items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
      >
        <img src="/assets/img/icons/dark-light.svg" class="w-5 h-5 mr-2 dark:invert dark:contrast-200 dark:saturate-0" />
        Cambiar Tema
      </a>
    </li>
  </ul>
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
    </li>
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
    </li>
  </ul>
  <div class="py-2">
    <a
      href="#"
      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
      >Sign out</a
    >
  </div>
</ul>
<!-- <ThemeToggle id="navBarToggle" layout="non-mobile" /> -->
