---
import BaseLayout from "./baseLayout.astro";

const { title, description } = Astro.props.frontmatter;
---

<BaseLayout title={title} description={description}>
  <div
    class="bg-white border md:mx-auto mb-5 -mt-6 md:mt-12 lg:max-w-[58rem] border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 w-full"
  >
    <div class="p-8 md:px-15 lg:px-20">
      <h1 class="my-10 text-3xl md:text-4xl text-center font-bold tracking-tight text-gray-900 dark:text-white">
        {title}
      </h1>
      <!-- 
        la sintaxis " [&_p] " se usa en Tailwind para simular lo que en CSS vanilla sería " div p ".
        info: 
        en este caso se usa porque si se aplica el invert a todo el `article`, a las imagenes 
        que puedan aparecer en el contenido tambien se les invertirá el color.
       -->
      <article class="my-5 prose lg:prose-lg prose-img:mx-auto max-w-none break-words dark:[&_p]:invert dark:[&_p]:contrast-200 dark:[&_p]:saturate-0">
        <slot />
      </article>
    </div>
  </div>
</BaseLayout>
