---
import EventLayout from "../../../layouts/eventLayout.astro";
import EventCard from "../../../components/eventCard.astro";
import Pagination from "../../../components/pagination.astro";
import Breadcrumb from "../../../components/ui/breadcrumb.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths({ paginate }) {
  const allEvents = await getCollection("events");
  let filterEvents = allEvents
    .filter((event) => event.data.endDate < new Date())
    .sort((a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf());

  return paginate(filterEvents, {
    pageSize: 12,
  });
}
const { page } = Astro.props;
---

<EventLayout title={`Eventos Tech Pasados | Página ${page.currentPage} | CuCoders`}>
  <div class="pl-2 mb-3.5 flex justify-between flex-wrap">
    <Breadcrumb items={[{ label: "Eventos",  home: true, url: "/eventos"}, {label: "Eventos Pasados"}]} />
    <a
      href="/nuevo-evento"
      class="text-gray-800 border hidden md:inline-flex border-gray-200 focus:outline-none hover:bg-gray-100 rounded-md text-sm font-normal px-3 py-2 text-center justify-center items-center dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
    >
      <img src="/assets/img/icons/event-add.svg" class="w-5 h-5 mr-2" />
      Publicar Evento
    </a>
  </div>
  {page.data.length == 0 && <img src="/assets/img/emptyList.webp" class="md:w-2/3 w-full mx-auto my-4" />}
  <div class="grid gap-6 w-full grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mb-7">
    {page.data.map((event) => <EventCard event={event} />)}
  </div>
  <Pagination prev={page.url.prev} next={page.url.next} />
</EventLayout>
