---
import Breadcrumb from "./breadcrumb.astro";
const { breadcrumbItems, btnLabel, btnUrl, btnIcon } = Astro.props;
---

<div class="pl-2 mb-3.5 flex md:justify-between flex-wrap justify-center">
  <Breadcrumb items={breadcrumbItems} />
  {
    btnUrl && (
      <a
        href={btnUrl}
        class="text-gray-800 border hidden md:inline-flex border-gray-200 focus:outline-none hover:bg-gray-100 rounded-md text-sm font-normal px-3 py-2 text-center justify-center items-center dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        {btnIcon && <img src={btnIcon} class="w-5 h-5 mr-2" />}
        {btnLabel}
      </a>
    )
  }
</div>
