---
const { items } = Astro.props;

function itemStyle(item) {
  let style = "inline-flex items-center text-sm font-medium dark:text-gray-400";
  style += item.url ? " text-gray-700 hover:text-gray-900 dark:hover:text-white" : " text-gray-500 dark:text-gray-600";
  return style;
}

items.forEach((item) => {
  item.tag = item.url ? "a" : "div";
});
---

<nav class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2">
    {
      items.map((item) => (
        <li class="inline-flex items-center">
          <item.tag href={item.url} class={itemStyle(item)}>
            {item.home ? (
              <svg
                aria-hidden="true"
                class="w-4 h-4 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
              </svg>
            ) : (
              <svg
                aria-hidden="true"
                class="w-6 h-6 text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            )}
            {item.home ? <span>{item.label}</span> : <span class="md:ml-2">{item.label}</span>}
          </item.tag>
        </li>
      ))
    }
  </ol>
</nav>
