
<button
    id="dropdownMenuIconHorizontalButton"
    data-dropdown-toggle="dropdownDotsHorizontal"
    class="p-2 md:inline-block text-gray-500 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm keychainify-checked"
    type="button"
>
<!-- <img src="/assets/img/icons/menu-vertical-black.svg" class="md:w-5 md:h-5 w-6 h-6 inline" /> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32" class="md:w-5 md:h-5 w-6 h-6 inline">
        <circle cx="16" cy="8" r="2" fill="currentColor"/>
        <circle cx="16" cy="16" r="2" fill="currentColor"/>
        <circle cx="16" cy="24" r="2" fill="currentColor"/>
    </svg>
</button>